/* ./assets/css/main.css */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply rounded-xl border border-green-700 bg-green-600 p-4 py-2 font-medium text-green-200 shadow-inner shadow-green-400  active:shadow-green-700;

  &--alt {
    @apply rounded-xl border border-green-300 bg-green-200 p-5 py-2 font-extrabold text-green-600 shadow-inner shadow-green-50  active:shadow-green-300;
  }

  &:disabled {
    @apply cursor-not-allowed opacity-50 grayscale;
  }
}

.site-header {
  @apply sticky top-4 mx-4 flex max-w-6xl items-center justify-between rounded-2xl border border-slate-200 bg-white p-4 xl:mx-auto;
}

.site-logo > span {
  @apply font-heading text-lg font-extrabold text-slate-900;
}

.site-nav {
  &__list {
    @apply flex gap-6;
  }
}

.site-section {
  @apply mx-auto max-w-7xl p-4 py-16;
}

.site-section > h1 {
  @apply font-heading text-4xl font-extrabold text-slate-900;
}

.action-cont {
  @apply mt-4 flex gap-2;
}

.product-list {
  @apply grid gap-8 md:grid-cols-2 lg:grid-cols-3;
}

.product-card {
  @apply flex h-full flex-col-reverse justify-end overflow-hidden rounded-xl border border-slate-200;

  &__image > img {
    @apply h-64 w-full flex-shrink-0 object-cover;
  }

  &__content {
    @apply flex h-full flex-col gap-2 p-4;
  }

  &__title {
    @apply text-xl font-bold text-slate-900;
  }

  &__price {
    @apply text-3xl font-bold text-green-600;
  }

  &__action-cont {
    @apply mt-auto flex gap-2;
  }
}

.cart {
  @apply flex flex-col gap-8;

  &__total {
    @apply text-3xl font-bold;
  }
}

.cart-item {
  @apply flex items-center gap-2 overflow-clip rounded-2xl border border-slate-100;

  &__image {
    @apply h-24 w-32 flex-shrink-0 object-cover;
  }

  &__content {
    @apply flex flex-col gap-1 p-4;
  }

  &__title {
    @apply font-heading text-lg font-bold text-slate-900;
  }

  &__price {
    @apply text-xl font-bold text-green-600;
  }

  &__action-cont {
    @apply ml-auto flex items-center gap-2 px-6;
  }

  &__quantity {
    @apply text-lg font-bold;
  }
}

.product-header {
  @apply flex flex-col-reverse gap-8 lg:flex-row-reverse;

  &__content {
    @apply flex flex-1 flex-col gap-2;
  }

  &__title {
    @apply font-heading text-4xl font-extrabold text-slate-900;
  }

  &__price {
    @apply flex flex-col text-5xl font-bold text-green-600;

    &--original {
      @apply text-lg font-bold text-slate-600 line-through;
    }
  }
}

.product-info {
  @apply flex flex-col gap-2;

  &__item {
    @apply flex items-center gap-2;

    &-title {
      @apply text-lg font-bold text-slate-900;
    }

    &-value {
      @apply text-slate-600;
    }
  }
}

.form {
  @apply flex flex-col gap-4 rounded-xl border border-slate-200 bg-white p-4;

  &-control {
    @apply flex flex-col gap-1;
  }

  & label {
    @apply text-lg font-bold text-slate-900;
  }

  &-input {
    @apply rounded-xl border border-slate-200 bg-slate-50 p-4 py-2 font-medium text-slate-900 shadow-inner shadow-white  active:shadow-slate-500;
  }

  &-error {
    @apply rounded-xl border border-red-100 bg-red-50 p-4 py-2 font-medium text-red-600 shadow-inner shadow-white/90;
  }
}

.cart-summary {
  &__list {
    @apply flex flex-col gap-2;
  }

  &__list-item {
    @apply rounded-xl border border-slate-200 bg-slate-50 p-4;
  }

  &__item-value {
    @apply text-xl font-medium;
  }

  .item-list {
    @apply mt-2 flex items-center;

    &__item {
      @apply flex -translate-x-4 transform items-center gap-2;

      &-thumbnail {
        @apply h-16 w-16 flex-shrink-0 rounded-2xl border-2 border-white object-cover;
      }
    }
  }
}
